@import url(./common.css);
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
}

/* header style */
header {

    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}

header .inner-header {

    width: 92%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

header .inner-header .logo {
    flex: 1;

}

header .inner-header .logo img {
    height: 60px;
}

header .inner-header .intro-text {
    flex: 4;
    font-weight: 700;
    font-size: 1.3em;
    text-transform: uppercase;

}

header .inner-header .menu-open {

    flex: 1;
    font-weight: 700;
    font-size: 1.2em;
    align-self: stretch;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .inner-header .menu-open .lnr-menu {
    font-size: 33px;
    margin-left: 15px;
}

/* gnb -> 숨겨진 메뉴 (햄버거 버튼 클릭시 등장) */

header .gnb {
    background: #000;
    color: #666;
    font-weight: 700;
    font-size: 40px;
    padding: 70px 100px;
    height: 100vh;


    position: fixed;
    right: -100%;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    transition: 0.8s;
}

header .gnb.open {
    right: 0;
}

header .gnb .close {
    color: #fff;
    margin-left: 150px;
}

header .gnb ul {
    line-height: 1.7;
}

header .gnb ul li:hover,
header .gnb ul li.active {
    color: #fff;
}

/* section visual style */
section.visual .slide li {
    background: violet;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

section.visual .slide li img {
    width: 100%;
    position: absolute;
    top: -70px;
}

section.visual .slide li .txt {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%, -50%);
    font-size: 18px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

section.visual .slide li .txt h3 {
    font-size: 64px;
    margin: 30px 0;
    font-weight: bold;
    line-height: 1.3;
}

section.visual .slide li .scroll {
    position: absolute;
    left: 5%;
    bottom: 10%;
    font-size: 15px;
    font-weight: bold;
    color: #ccc;
    transform: rotate(-90deg);
}

/* section contents style */

section.contents {
    background: #1b1b1b;
    padding: 120px 0;
}

/* main-text */
section.contents .main-text {

    width: 80%;
    margin: 0 auto;
    font-size: 25px;
    display: flex;
    position: relative;

}

section.contents .main-text::before {
    content: '';
    background: #ffec03;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    position: absolute;
    left: 70px;
    top: 100px;
}

section.contents .main-text::after {
    content: '”';
    font-size: 300px;
    position: absolute;
    left: 0;
    top: 100px;
}

section.contents .main-text h3 {

    flex: 1;
    font-weight: bold;
}

section.contents .main-text p {

    flex: 2;
    font-size: 23px;
    line-height: 1.4;
    text-align: justify;
}

section.contents .main-text p span {
    display: block;
    font-size: 20px;
    color: #999;
    margin-top: 30px;
}

/* .project */

section.contents .project .top {

    width: 80%;
    margin: 200px auto 60px;
    display: flex;
    justify-content: space-between;
}

section.contents .project .top h3 {
    font-size: 35px;
    font-weight: bold;
}

section.contents .project .top a {
    font-size: 18px;
}

section.contents .project ul {
    display: flex;
    justify-content: space-evenly;
}

section.contents .project ul li {
    width: 24%;
    border: 4px solid #fff;
    height: 400px;
    overflow: hidden;
    border-radius: 2px;
    position: relative;
}

section.contents .project ul li a::before {
    content: '';
    width: 0;
    height: 100%;
    background: rgba(27, 27, 27, 0.8);
    position: absolute;
    transition: 0.6s;
}

section.contents .project ul li a:hover::before {
    width: 100%;
}

section.contents .project ul li img {
    width: 100%;
    height: 100%;
}

section.contents .project ul li .name {
    background: #1b1b1b;
    font-size: 22px;
    text-align: right;
    width: 250px;
    padding: 15px;

    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: 0;
}

@keyframes show-name {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

section.contents .project ul li a:hover .name {
    animation: show-name 1s both;
}

/* partner style */

section.contents .partner {
    width: 80%;

    margin: 170px auto 100px;
}

section.contents .partner h3 {
    font-size: 20px;
    padding: 20px 0;
}

section.contents .partner ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: center;
    justify-content: space-around;

}

section.contents .partner ul li {
    width: 25%;
    display: flex;
    justify-content: center;
    margin: 30px 0;
    opacity: 0.3;
}

section.contents .partner ul li:hover {
    transition: 0.6s;
    opacity: 1;
}